.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  .dn{
    margin: 10px;
    font-size: 40px;
  }
  .qmk{
    padding: 10px;
  }
  .qmk a{
    color: #818181;
    padding: auto;
    text-decoration: none;
    font-size: 15px;
  }
  .qmk a:hover{
    color: #45a049;
    text-decoration: underline;
  }
  .qmk1 a{
    color: red;
    padding: auto;
    text-decoration: none;
  }
  .qmk1 a:hover{
    color: #45a049;
    text-decoration: underline;
  }
  .dangnhap{
    margin-top: 15px;
  }
  .qmk1{
    color: #818181;
    padding-top: 15px;
  }
  .dkcn{
    display: flex;
    justify-content: space-between;
    color: #818181;
  }
  .checkbox{
    width: 18px;
    height: 18px;
  }
  .trangquantri{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .thongtinadmin{
    text-align: center;
    padding: 20px;
  }