.cart {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tfoot {
    font-weight: bold;
}
#buy-amount{
    display: flex;
}
#buy-amount button{
    width: 35px;
    height: 35px;
    outline: none;
    background: none;
    border: 1px solid #ececec;
    cursor: pointer;
}
#buy-amount button:hover{
    background-color: #ececec;
}
#buy-amount button svg{
    color: #909090;
}
#buy-amount button:hover svg{
    color: #4f4f4f;
}
#buy-amount #amount{
    width: 40px;
    text-align: center;
    border: 1px solid #ececec;
}