*{
    padding: 0;
    margin: 0; 
    border: 0;
    font-size: 100%;
    
}
body{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
        
}
.container{
    width: 100%;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
    align-items: center;
}
header img{
    padding: 20px;
}
.form{
    display: flex;
    align-items: center;
    border: 1px solid #e44d26;
    border-radius: 30px;
    margin-left: 50px;
    padding: 2px;
    height: 100%;
}
.input{
    margin: 5px;
}
.form input{
    width: 150px;
}
.form a{
    padding: 2px;
}
.timKiem{
    display: flex;
}
.search{
    background-color: white;
    margin: 5px;
    color: #545454;
}
.icon{
    font-size: 20px;
}
a.icon{
    display: flex;
    align-items: center;
}

#cart{
    margin-left: 10px;
    font-size: 26px;
    margin-bottom: 2px;
    font-size: 30px;
}
.banner{
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.banner img{
    width: 100%;
    height: 520px;
}
i.bx.bx-chevron-right::before{
    color:white;
    font-size: 50px;
}
.bx-chevron-left:hover {
    cursor: pointer;
    background-color: #e44d26;
    border-radius: 4px;
}
.bx-chevron-right:hover {
    cursor: pointer;
    background-color: #e44d26;
    border-radius: 4px;
}
.next{
    right: 0%;
    top: 40%;
}
i.bx.bx-chevron-left::before{
    color: white;
    font-size: 50px;
}
.back{
    left: 0%;
    top: 40%;
}
.tieuDe{
    background-image: linear-gradient(to bottom, rgb(175, 175, 175) 1%, rgb(222, 222, 222), rgb(255, 255, 255));
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
}
.tieuDe h2{
    padding: 30px;
    font-size: 32px;
    text-decoration: underline solid black 2px;
}
.content{
    margin-left: 5%;
    width: 90%;
    display: flex;
    overflow: auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}
.sp22{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.sanpham {
    display: block;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.2s;
}
.sanpham:hover {
    box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
}
.sp{
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px;
}
.sp img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.sp img:hover {
    cursor: pointer;
    filter: brightness(98%)
}
.sp .thongTin{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(243, 237, 237);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 10px;
}
.buy_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.buy{
    border-radius: 5px;
    background-color: gray;
    padding: 6px;
    width: 88%;
    color: white;
}
.bx{
    color: black;
    text-decoration: none;
}
.bx:hover{
    color: #e44d26;
}
#addCart{
    font-size: 24px;
}
.sp h2{
    font-size: 20px;
    padding: 6px;
}
.sp h3{
    font-size: 16px;
    color: red;
    padding: 6px;

}
.sp p{
    font-size: 12px;
    padding: 6px;
    word-wrap: break-word;
}
.sp h4{
    font-size: 12px;
    padding: 6px;
}
.coming_soon{
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.coming_soon img{
    width: 100%;
}
.content2{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content2 .sp{
    margin-bottom: 20px;
    margin-right: 10px;
}
.gia{
    color: red;
}
.menu3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
}
.menu3_con{
    width: 32%;
}
.menu3_con img{
    width: 100%;
    height: 100%;
}
.menu3_chau{
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: bolder;
    top: 77%;
    left: 10%;
}
footer{
    padding-top: 10px;
}
.footer1{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgb(150, 150, 150), rgb(110, 110, 110), rgb(80, 80, 80), rgb(60, 60, 60), rgb(30, 30, 30), black);
    padding: 2%;
}
.a{
    margin-bottom: 25px;
}
.a a {
    color: white;
    font-size: 13px;
}
.aa{
    margin-bottom: 20px;
}
.aa a{
    color: rgb(207, 207, 207);
    font-size: 12px;
    text-decoration: none;
}
.aa a:hover {
    color: #0000ff;
}
.mxh{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
}
#aaa{
    color: white;
    font-size: 40px;
}
.ttgh{
    display: flex;
    margin-left: 5%;    
}
.tieude{
    border: 1px solid black;
}
.tieude h1{
    font-size: 25px;
    
}
.timKiem input[type="text"]{
    width: 100%;
    border: none;
    outline: none; 
    padding: 5px 10px;
    border-radius: 35px;
}
.timKiem input[type="text"]:hover{
    cursor: auto;
}
.timKiem input[type="submit"]{
    border-radius: 35px;
    padding: 5px 10px;
    background-color: #e44d26;
    border: none;
    outline: none;
    color: #fff;
}
.timKiem input[type="submit"]:hover{
    cursor: pointer;
    border: 1px solid #e44d26;
    filter: brightness(90%);
}
